[commit]
    gpgsign = {{ .git.signCommits }}
{{ if .git.signCommits -}}
[gpg]
    format = {{ .git.signingFormat }}
{{ end -}}
[user]
    name = {{ .git.userName | quote }}
    email = {{ .git.userEmail | quote }}
    {{ if .git.signCommits -}}
    signingkey = {{ .git.signingKey | quote }}
    {{ end -}}