#!/bin/sh

# deno_scripts/generate_karabiner_config.ts hash: {{ include "deno_scripts/generate_karabiner_config.ts" | sha256sum }}
{{ if eq .chezmoi.os "darwin" -}}

echo "Karabiner-Elementsの設定を生成します..."
deno run --allow-read --allow-write --allow-env {{ joinPath .chezmoi.sourceDir "deno_scripts/generate_karabiner_config.ts" | quote }}

{{ end -}}