#!/bin/sh

# dot_Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}
{{ if eq .chezmoi.os "darwin" -}}

{{ if eq (env "CI") "true" -}}
echo "CI環境ではmasでのインストールをスキップします"
MAS_APPS="$(cat $HOME/.Brewfile | grep -v brew | grep mas | sed 's/^.*"\(.*\)".*$/\1/' | tr '\n' ' ')"
export HOMEBREW_BUNDLE_MAS_SKIP="$MAS_APPS"
{{ end -}}

echo "Homebrewでパッケージをインストールまたはアップデートします..."
brew bundle --file="$HOME/.Brewfile" --force
echo "不要なHomebrewパッケージをクリーンアップします..."
brew bundle cleanup --file="$HOME/.Brewfile" --force
{{ end -}}