encryption = "age"

[age]
  identity = "~/.chezmoi-encrypt-key.txt"
  recipient = "age1uvqgl4l7z2d2v7ycnmr2xrzzy2qmyc397y3ryp5ur5uefw5t83jq6d527j"

{{ $useSudo := false -}}
{{ $gitProfile := "" -}}
{{ $arch := .chezmoi.arch -}}

{{ if eq $arch "amd64" -}}
  {{ $arch = "x86_64" -}}
{{ end -}}
{{ $platform := printf "%s-%s" .chezmoi.os $arch -}}
{{ $brewCommand := "" -}}

{{ if eq $platform "darwin-arm64" -}}
  {{ $brewCommand = "/opt/homebrew/bin/brew" -}}
{{ else if eq $platform "linux-x86_64" -}}
  {{ $brewCommand = "" -}}
{{ else if eq $platform "linux-arm64" -}}
  {{ $brewCommand = "" -}}
{{ end -}}

{{- $gitProfiles := list "souhait" "work_a" "work_p" -}}
{{- $presets := list "macOS_root" "Linux_root" "Linux_nonroot" "Custom" -}}

{{ if stdinIsATTY -}}
  {{ $preset := promptChoiceOnce . "preset" "Select setup preset" $presets -}}
  {{ if eq $preset "macOS_root" -}}
    {{ $useSudo = true -}}
    {{ $brewCommand = "/opt/homebrew/bin/brew" -}}
  {{ else if eq $preset "Linux_root" -}}
    {{ $useSudo = true -}}
    {{ $brewCommand = "" -}}
  {{ else if eq $preset "Linux_nonroot" -}}
    {{ $useSudo = false -}}
    {{ $brewCommand = printf "%s/homebrew/bin/brew" (env "HOME") -}}
  {{ else -}}
    {{ $useSudo = promptBoolOnce . "use_sudo" "Allow setup commands to use sudo" -}}
    {{ $useHomebrew := promptBoolOnce . "use_homebrew" "Use Homebrew" -}}
    {{ if $useHomebrew -}}
      {{ $brewCommand = promptStringOnce . "brew_command" "Enter the brew command" $brewCommand -}}
    {{ else -}}
      {{ $brewCommand = "" -}}
    {{ end -}}
  {{ end -}}

  {{ $gitProfile = promptChoiceOnce . "git_profile" "Select git profile" $gitProfiles -}}
{{ else -}}
  {{ $useSudo = true -}}
  {{ $gitProfile = "souhait" -}}
{{ end -}}

[data]
  brewCommand = {{ $brewCommand | quote }}
  platform = {{ $platform | quote }}
  useSudo = {{ $useSudo }}
  gitProfile = {{ $gitProfile | quote }}
