encryption = "age"

[age]
  identity = "~/.chezmoi-encrypt-key.txt"
  recipient = "age1uvqgl4l7z2d2v7ycnmr2xrzzy2qmyc397y3ryp5ur5uefw5t83jq6d527j"

{{ $useSudo := false -}}
{{ $gitProfile := "" -}}
{{ $arch := .chezmoi.arch -}}

{{ if eq $arch "amd64" -}}
  {{ $arch = "x86_64" -}}
{{ end -}}
{{ $platform := printf "%s-%s" .chezmoi.os $arch -}}
{{ $brewCommand := "" -}}

{{ if eq $platform "darwin-arm64" -}}
  {{ $brewCommand = "/opt/homebrew/bin/brew" -}}
{{ end -}}

{{- $gitProfiles := list "souhait" "work_a" "work_p" -}}

{{ if stdinIsATTY -}}
  {{ $useSudo = promptBoolOnce . "use_sudo" "Allow setup commands to use sudo" -}}
  {{ $gitProfile = promptChoiceOnce . "git_profile" "Select git profile" $gitProfiles -}}
{{ else -}}
  {{ $useSudo = true -}}
  {{ $gitProfile = "souhait" -}}
{{ end -}}

[data]
  brewCommand = {{ $brewCommand | quote }}
  platform = {{ $platform | quote }}
  useSudo = {{ $useSudo }}
  gitProfile = {{ $gitProfile | quote }}
