#!/bin/zsh

# dot_Brewfile_macos hash: {{ include "dot_Brewfile_macos" | sha256sum }}
# dot_Brewfile_linux hash: {{ include "dot_Brewfile_linux" | sha256sum }}
{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}

{{ if eq .chezmoi.os "darwin" -}}
brewfile="$HOME/.Brewfile_macos"
{{ else if eq .chezmoi.os "linux" -}}
brewfile="$HOME/.Brewfile_linux"
{{ end -}}

{{ if and (eq .chezmoi.os "darwin") (eq (env "CI") "true") -}}
echo "CI環境ではmasでのインストールをスキップします"
MAS_APPS="$(cat $brewfile | grep -v brew | grep mas | sed 's/^mas ".*", id: \([0-9]*\)$/\1/' | tr '\n' ' ')"
echo "スキップするアプリのID: $MAS_APPS"
export HOMEBREW_BUNDLE_MAS_SKIP="$MAS_APPS"
{{ end -}}

echo "Homebrewでパッケージをインストールまたはアップデートします..."
brew bundle --file="$brewfile" --force
echo "不要なHomebrewパッケージをクリーンアップします..."
brew bundle cleanup --file="$brewfile" --force

{{ end -}}