# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

# デフォルトで遅延読み込みする
apply = ["defer"]

[templates]
defer = "{% for file in files %}zsh-defer source {{ `\"{{ file }}\"` }}\n{% endfor %}"

[plugins]

[plugins.zsh-defer]
github = "romkatv/zsh-defer"
apply = ["source"]

[plugins.compinit]
inline = """
autoload -Uz compinit
zsh-defer -a -t0.01 compinit -d "$XDG_STATE_HOME/zsh/zcompdump"
"""

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"

[plugins.fast-syntax-highlighting]
github = "zdharma/fast-syntax-highlighting"

[plugins.zsh-autocomplete]
github = "marlonrichert/zsh-autocomplete"
#NOTE deferすると入力を受け付けなくなるのでdeferしない
apply = ["source"]

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"

[plugins.zsh-history-substring-search]
github = "zsh-users/zsh-history-substring-search"

[plugins.zsh-replace-multiple-dots]
github = "momo-lab/zsh-replace-multiple-dots"

[plugins.starship]
inline = 'eval "$(starship init zsh)"'

[plugins.mise]
inline = '''
eval "$(mise activate zsh)"
path=(
  ${HOME}/.local/share/mise/shims(N-/)
  $path
)
'''

[plugins.local-plugins]
local = "~/.config/zsh/plugins/"

[plugins.local-zsh-completions]
local = "~/.config/zsh/site-functions/"
apply = ["defer", "fpath"]

[plugins.homebrew]
inline = 'eval "$({{ .homebrew_install_path }}/bin/brew shellenv)"'

{{ if eq .chezmoi.os "darwin" -}}
[plugins.orbstack]
local = "~/.orbstack/shell/"
use = ["init.zsh"]
{{ end -}}