{ pkgs, primaryUser, self, sharedPackages, ... }:

{
  nix = {
    enable = true;
    package = pkgs.lixPackageSets.stable.lix;
    settings.experimental-features = [ "nix-command" "flakes" ];
  };

  nixpkgs.config.allowUnfree = true;

  system = {
    configurationRevision = self.rev or self.dirtyRev or null;
    primaryUser = primaryUser;
    stateVersion = 7;
    activationScripts.disableSpotlight.text = ''
      /usr/bin/mdutil -a -i off >/dev/null 2>&1 || true
    '';
  };

  users.users.${primaryUser}.home = "/Users/${primaryUser}";

  environment.systemPackages = sharedPackages;

  fonts.packages = with pkgs; [
{{- range .nix.fonts }}
    {{ . }}
{{- end }}
  ];

  homebrew = {
    enable = true;
    user = primaryUser;
    onActivation = {
      autoUpdate = false;
      cleanup = {{ .homebrew.cleanup | quote }};
      upgrade = false;
    };
    taps = [
{{- range .homebrew.taps }}
      {
        name = {{ . | quote }};
        trusted = true;
      }
{{- end }}
    ];
    brews = [
{{- range .homebrew.brews }}
      {{ . | quote }}
{{- end }}
    ];
    casks = [
{{- range .homebrew.casks }}
      {{ . | quote }}
{{- end }}
    ];
{{- if ne (env "CI") "true" }}
    masApps = {
  {{- range $name, $id := .homebrew.masApps }}
      {{ $name | quote }} = {{ $id }};
  {{- end }}
    };
{{- end }}
  };

  system.defaults = {
    NSGlobalDomain = {
      AppleShowAllExtensions = true;
      ApplePressAndHoldEnabled = false;
      AppleKeyboardUIMode = 0;
    };
    dock = {
      tilesize = 32;
      "show-recents" = false;
      mineffect = "scale";
      "minimize-to-application" = true;
      showLaunchpadGestureEnabled = false;
      showDesktopGestureEnabled = true;
    };
    trackpad = {
      Clicking = false;
      TrackpadThreeFingerDrag = false;
      TrackpadRightClick = true;
      TrackpadFourFingerPinchGesture = 0;
    };
    finder = {
      ShowPathbar = true;
      ShowStatusBar = true;
      FXPreferredViewStyle = "Nlsv";
      NewWindowTarget = "Home";
    };
    CustomUserPreferences = {
      "com.apple.Spotlight" = {
        MenuItemHidden = 1;
      };
      "com.apple.desktopservices" = {
        DSDontWriteNetworkStores = true;
        DSDontWriteUSBStores = true;
      };
      "com.apple.dock" = {
        size-immutable = true;
      };
    };
  };

  programs.zsh.enable = true;
  security.pam.services.sudo_local.touchIdAuth = true;
}